In [34]:
import psycopg2
import boto3

In [35]:
def connect_to_db() -> object:
    """
    Fetch DB username and password from AWS SSM and connect to RDS database.
    """
    aws_client = boto3.client("ssm")

    parameters = aws_client.get_parameters(
        Names=[
            "stock_twitter_db_user",
            "stock_twitter_db_password",
        ],
        WithDecryption=True,
    )

    credentials = {}
    for parameter in parameters["Parameters"]:
        credentials[parameter["Name"]] = parameter["Value"]

    db_host = "stock-twitter-db.cdx9enjjuwaj.us-east-1.rds.amazonaws.com"
    db_name = "postgres"
    db_port = "5432"
    db_user = credentials["stock_twitter_db_user"]
    db_pass = credentials["stock_twitter_db_password"]
    conn = psycopg2.connect(
        host=db_host, database=db_name, user=db_user, password=db_pass, port=db_port
    )

    return conn

In [36]:
conn = connect_to_db()

In [37]:
pd.read_sql("SELECT * FROM stock_price", con=conn)

c:\Users\Luca\Documents\Coding\Shopify-Project\venv\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

  ticker  timestamp  price
0    URA 2022-05-20  20.87
1    URA 2022-05-23  21.47
2    URA 2022-05-24  21.05
3    URA 2022-05-25  21.21
4    URA 2022-05-26  21.77
5    URA 2022-05-27  22.19
6    URA 2022-05-31  21.94
7    URA 2022-06-01  21.54
8    URA 2022-06-02  22.69
9    URA 2022-06-03  22.14

In [38]:
pd.read_sql("SELECT * FROM tweet", con=conn)

c:\Users\Luca\Documents\Coding\Shopify-Project\venv\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,id,twitter_id,username,text,created_at,sentiment
0,1,1532893041245278209,chico maresz,@andersostlund The US is still importing urani...,2022-06-04,neutral
1,2,1532892867865157632,Brig V Mahalingam,2/2. Iran is said to have produced 43 kgs of 6...,2022-06-04,neutral
2,3,1532892397134180352,Sam,"RT @quakes99: Today @Sprott issued 485,000 Phy...",2022-06-04,neutral
3,4,1532891449007779841,Eduardo Bortoli,RT @UraniumIronman: Solid episode. #Uranium bu...,2022-06-04,positive
4,5,1532890815768428545,Al,RT @Undercross2022: Uranium Spot Up Without SP...,2022-06-04,neutral
...,...,...,...,...,...,...
995,996,1532752069811134464,Auster,Israel prepares a war with Iran \n(And his Big...,2022-06-03,positive
996,997,1532751972138369024,Uranium/Nuclear Energy 700K,RT @miningnewswire: DOE Asks Congress to Fund ...,2022-06-03,neutral
997,998,1532751957017894912,Diederik vd Tanden,RT @TheGoldAdvisor: VRIC videos now coming out...,2022-06-03,positive
998,999,1532751914319982605,Teresa Kerry,Planting of greenery in Alps is not stemming f...,2022-06-03,negative
999,1000,1532751661399166980,TickBiteSurvivor,@KeithRuscitti @Marjala2 Is that a map to uran...,2022-06-03,neutral

In [39]:
conn.close()

In [18]:
df[df['created_at'] == "2022-06-03"]

,id,twitter_id,username,text,created_at,sentiment
0,1,1532787377906896901,LeclercT40,@PetrNovikov12 @DeepFakeFuori @Osinttechnical ...,2022-06-03,neutral
1,2,1532787214123294725,TNT,RT @Vishal_alt: @zerohedge US itself buys Russ...,2022-06-03,neutral
2,3,1532787137388728322,üìêtriANGLE Investor,@quakes99 how are we standing with #uranium sp...,2022-06-03,neutral
3,4,1532786888825655299,Jane Busby,@relllattable @astro1095 @AlvaroSilva1906 i me...,2022-06-03,negative
4,5,1532786819909156866,Itallstartshere,United States is funding Russia‚Äôs war by buyin...,2022-06-03,neutral
...,...,...,...,...,...,...
997,996,1532676833380114432,The Bitcoin bull has no balls,"@mojomogoz Uranium is what you, me and everyon...",2022-06-03,positive
998,997,1532676180746420224,‚ìÇÔ∏èwe2üë∏üèæ,RT @TheBriefLive: Letshego Holdings (Namibia) ...,2022-06-03,positive
999,998,1532676053054803968,Zack Boone,@A_NoiceGuy Light keeper could have a deal wit...,2022-06-03,positive
1000,999,1532675958909566977,The Brief,Letshego Holdings (Namibia) was the best perfo...,2022-06-03,positive
1001,1000,1532675723051163648,Ljubisa Tanaskovic,RT @artisticaddict1: Serbia suffers one of the...,2022-06-03,negative

In [ ]:
tweets = [{'twitter_id': 1532674306383159298, 'username': 'Luciano Pestarino', 'text': 'RT @giginator_: #Uranium names ripped overnight in Nth America\n$CCJ +7%\n$DNN +5%\n$URG +14%\n$UUUU +10%\nCantor Fitz reckons they picked the b‚Ä¶', 'created_at': '20220603-104325', 'sentiment': 'neutral'},{'twitter_id': 1532674252956123136, 'username': 'ArabiskaPartiet', 'text': '"It‚Äôs not just that the 4 billion tons of uranium in seawater now would fuel a thousand 1000-MW nuclear power plant‚Ä¶ https://t.co/WO4uvlNwy8', 'created_at': '20220603-104312', 'sentiment': 'neutral'}]
tweets

In [ ]:
for i in tweets:
    print(tuple(i.values()))
    print(",".join(i.keys()))

In [ ]:
from datetime import datetime, timedelta

In [ ]:
(datetime.now()-timedelta(days=7)).strftime("%Y-%m-%d")

In [27]:
conn.close()