In [1]:
from utils import config, db_interface, twitter_interface
import pandas as pd

In [ ]:
with db_interface.DBConnection(config.get_batch_creds()).managed_cursor() as curr:
    curr.execute("SELECT * FROM tweet;")
    data = curr.fetchall()
    cols = [i[0] for i in curr.description]
df = pd.DataFrame(data, columns=cols)
df = df.set_index(df.id).drop(columns=['id'], axis=1)
df

In [ ]:
with db_interface.DBConnection(config.get_batch_creds()).managed_cursor() as curr:
    curr.execute("SELECT * FROM stock_price;")
    data = curr.fetchall()
    cols = [i[0] for i in curr.description]
df = pd.DataFrame(data, columns=cols)
df = df.set_index(df.timestamp).drop(columns=['timestamp'], axis=1)
df

In [2]:
with db_interface.DBConnection(config.get_stream_creds()).managed_cursor() as curr:
    curr.execute("SELECT * FROM tweet_stream;")
    data = curr.fetchall()
    cols = [i[0] for i in curr.description]
df = pd.DataFrame(data, columns=cols)
df = df.set_index(df.id).drop(columns=['id'], axis=1)
df

,twitter_id,username,text,created_at
id,,,,
1,1533924827177881601,Xabiso Excey,RT @TimesLIVE: We have great plans to turn the...,2022-06-06 21:32:32
2,1533924965166235649,Mary P. Chapman,RT @goldsilver_pros: We need more US-based #ur...,2022-06-06 21:33:05
3,1533925277184585728,Finding Value Finance,RT @uselinkinv: #uranium\n\nAs many of your kn...,2022-06-06 21:34:19
4,1533925442515652608,HM Young,@horse_says_nay @bss12543 @nyunggai @LiberalAu...,2022-06-06 21:34:59
5,1533925505325486080,Big Mike’s Uranium Capital Management,RT @patrickadownes: Spot #uranium continues to...,2022-06-06 21:35:14
...,...,...,...,...
460,1536032947349950467,Comrad3Moxi3,"RT @Zhou_Li_CHN: 23 yrs ago, #NATO bombarded #...",2022-06-12 17:09:27
461,1536033011623395330,eddie_tennison,"RT @SloCan68: In the Fetal position, This is h...",2022-06-12 17:09:42
462,1536033104925704194,moto_zierra,@XX_1133_1221_11 Monero is the asset nobodys t...,2022-06-12 17:10:04
463,1536033113880645632,nof0xgvn,"we have switched games, now we're playing Fall...",2022-06-12 17:10:07
464,1536033151591538689,barf_sounds,I'm supposed to believe any of these big wig R...,2022-06-12 17:10:16