In [2]:
from utils.config import get_oltp_creds
from utils.db_interface import DBConnection
import pandas as pd

In [11]:
with DBConnection(get_oltp_creds()).managed_cursor() as curr:
    curr.execute("SELECT * FROM tweet;")
    data = curr.fetchall()
    cols = [i[0] for i in curr.description]
df = pd.DataFrame(data, columns=cols)
df = df.set_index(df.id).drop(columns=['id'], axis=1)
df

,twitter_id,username,text,created_at,sentiment
id,,,,,
1,1529975637791805440,RC,RT @Nidaba07: NATO CLAIMS ‚ÄòIMMUNITY‚Äô TO SERBIA...,2022-05-26,neutral
2,1529975610801389568,UraniumGatsby,RT @ChapmanScpa: I have been running through t...,2022-05-26,negative
3,1529975348590530591,Uranium Corgi,RT @CreativeMurdock: @uraniuminsider Sorry Jus...,2022-05-26,negative
4,1529975260719861765,playah,"Uranium, Natural Gas, Shipping, Platinum; What...",2022-05-26,positive
5,1529975229316931584,SC82,Aura $AEE announcement of drilling commencemen...,2022-05-26,neutral
...,...,...,...,...,...
2596,1532753437754007554,myuzumaki,RT @derekquick1: New Uranium video out! Spot U...,2022-06-03,positive
2597,1532753355050713088,Bosch,Uranium is trading in parallel with the Nasdaq...,2022-06-03,positive
2598,1532753237316542464,üÉè,riot is an unfinished grave that was dug to de...,2022-06-03,negative
2599,1532752964481257473,Elon Address The Child Porn Problem On Twltter,Do Democrats regret letting Russia take part i...,2022-06-03,neutral
2600,1532752598037458944,col,nikol and her existential crisis haha pls don'...,2022-06-03,positive

In [13]:
with DBConnection(get_oltp_creds()).managed_cursor() as curr:
    curr.execute("SELECT * FROM stock_price;")
    data = curr.fetchall()
    cols = [i[0] for i in curr.description]
df = pd.DataFrame(data, columns=cols)
df = df.set_index(df.timestamp).drop(columns=['timestamp'], axis=1)
df

           ticker  price
timestamp
2021-06-04    URA  23.30
2021-06-07    URA  23.63
2021-06-08    URA  23.38
2021-06-09    URA  23.22
2021-06-10    URA  23.46
...           ...    ...
2022-05-27    URA  22.19
2022-05-31    URA  21.94
2022-06-01    URA  21.54
2022-06-02    URA  22.69
2022-06-03    URA  22.14

[253 rows x 2 columns]